<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="./img/icon-weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    
        {{>header}}
        {{!-- <img class="portrait" src="./img/logo_weather.jpg" alt="Image can't load"> --}}
        <h3>My name is Manish Kumar. I am currently pursuing B.E from Jadavpur University. I am from department
            Information Technology.
            <p> I am a Hard Working Software
                Engineer. Beginner in
                Competitive Programming.
                Always have a desire to learn
                and develop
            </p>

        </h3>
  

    {{>footer}}
</body>

</html>