
 header a {
  color:  #888888;
  margin-right: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
 body {
    background-color: RGB(223, 207, 190);
  color: black;
  opacity: 0.8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
  }
  
  footer {
    color: #888888;
    border-top: 1px solid #f7d8d8;
    margin-top: 16px;
    padding: 16px 0;
    
  }
  
  header {
    margin-top: 16px;
    margin-bottom: 48px;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 16px;
  }
  
  header a {
    color:  #888888;
    margin-right: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }
  
  #portrait {
    width: 250px;
  }
 #form{
    text-align: center;
  }
  
  input {
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    font-size: 20px;
    border:none;
    border-radius: 2px;

  }

  
  button {
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    font-size: 20px;
    border:none;
    border-radius: 2px;
    padding : 10px 10px;
    margin-top: 20px;

  }
  a{
    color:blue; 
  }
  input {
    text-align: center;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
  
  #openweathermap-widget {
    transition: all .5s ease-in;
  }
  
  #openweathermap-widget:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
    transition: all 1s ease;
  }
  
  a:hover {
    color: #000000;
    font-size: 1.04rem;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
